@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&display=swap');


$family-primary:'monospace';
$primary: hsl(348, 100%, 71%);

.navbar {
  height:150px;
  padding-top: 40px;
}

nav.navbar{
  background-color: hsl(348, 100%, 61%);
}

.listenrandom {
color:white;
font-weight: 700;
height:46px;
border: 4px solid white;
border-radius: 5px;
padding: 5px;
margin-top: 5px;
}

.micro {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.homesection{
  min-height: 83vh;
}
div.container.formcontainer {
  padding-left: 300px;
  margin-top: 20px;
}


input.searchinput {
  width:500px;
  height:50px;
  margin-bottom: 15px;
}

.cardinfo {
  max-height: 610px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content:hover {
  background-color: hsl(348, 100%, 71%);
  transition: 1s;
}

.subtitle {
  margin-left: 340px;
  margin-top: 130px;
}

.loadmore {
  width: 120px;
  height: 90px;
  background-color: white;
  margin-top: 10px;
}

.randomcard {
  margin-left: 400px;
}

.audio {
  margin-left: 5px;
  margin-top: 5px;
}







@import 'bulma'
